html
  head
    style(type="text/css").
      h1{
        text-align: center;
        color: black;
      }

  h1 The Notes App - #{subject}
  div#text
    | Welcome, #{username}, here's your #{subject} link.
    | https://thenotesapp.mkorus.eu/auth/passwordsetup?token=#{token}
  footer
    p
      if subject === "registration"
        | If you didn't sign up for The Notes App, I'm sorry, please ignore this e-mail.<br>
      | Made by #[a( href='http://mkorus.eu' target="_blank" ) Mateusz Korus], 2019.