doctype html

html
  head
    title= "The Notes App - " + title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/jquery.js")
    script(src='/javascripts/message-popup-handler.js')
  navbar
    a#home-btn(class="button" href="/") Home
    if user
      a#profile-btn(class="button" href="/user") Profile
      a#logout-btn(class="button" href="/auth/logout") Logout
    else
      a#login-btn(class="button" href="/auth/login") Login
  body
    div#content
      block content
    footer
      | Made with ♡ by #[a( href='http://mkorus.eu' target="_blank" ) Mateusz Korus], 2019.<br>
      | This website uses cookies to ensure its functionality.