extends layout

block content
  script(src="/javascripts/recaptcha-loader.js")
  link(rel='stylesheet', href='/css/font-awesome.min.css')
  h1 The Notes App - login
  if event === "passwordset"
    p(class="message") Password set successfully, you can now log in.
  else if event === "loginfailed"
    p(class="message") Incorrect e-mail and/or password.<br>
      a(href='/auth/passwordreset') Reset your password.
  else if event === "captchafailed"
    p(class="message") Captcha failed. Please try again.
  form(method='POST' action='/auth/login')
    input#email(type='email', placeholder='E-mail address' name='email' required)
    input#pw(type='password' placeholder='Password' name='password' required)
    div#recaptcha
    script(src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer)
    button(type='submit' class="btn btn-primary") Log in<br>
    a(href="/auth/signup") Sign up
    a#password-reset-btn(href="/auth/passwordreset") Forgot password
    <br>Login using:&nbsp;
    div#social-buttons
      div#facebook-button.social-button
        a(class="social-link" href="/auth/facebook")
          i(class="fa fa-facebook-square")
          | &nbsp;Facebook
      div#google-button.social-button
        a(class="social-link" href="/auth/google")
          i(class="fa fa-google-plus-square")
          | &nbsp;Google+
      div#github-button.social-button
        a(class="social-link" href="/auth/github")
          i(class="fa fa-github-square")
          | &nbsp;GitHub