extends layout

block content
  script(src="/jquery.js")
  script(src="/javascripts/notes-view-handlers.js")

  div#notes

  div(class='new-note-form')
    input(class="note-title" type='input', placeholder='Title' name='title')
    input(class="note-text" type='input' placeholder='Note' name='note')
    button(onclick=`createNote()`) Create a new note