extends layout

block content
  script(src="/jquery.js")
  script(src="/javascripts/notes-view-handlers.js")

  div#notes

    div#new-note-form(class="note")
      input(class="note-title note-input-field" type='input', placeholder='Title' name='title' autocomplete="off")
      textarea(class="note-text note-input-field" type='input' placeholder='Note' name='note' autocomplete="off")
      button(class="btn btn-light btn-block" onclick=`createNote()`) Create a new note