extends layout

block content
  script(src='/javascripts/confirm-password-validator.js')
  form(method='POST' action='/auth/passwordsetup/?token=' + token)
    p Password must contain at least 6 symbols, including at least one letter and one digit.
    div.form-group
      input#password.form-control(
      type='input', placeholder='Password' name='password' required onchange="check_pass()"
      )
    div.form-group
      input#confirm_password.form-control(
      type='input', placeholder='Confirm password' name='confirm_password' required onchange="check_pass()"
      )
    button.btn.btn-primary#submit(type='submit' disabled) Set new password.