extends layout

block content
  script(src="/javascripts/recaptcha-loader.js")
  form(method='POST' action='/auth/passwordreset')
    div.form-group
      input#email.form-control(
      type='email', placeholder='E-mail address' name='email' required
      )
    div.form-group
      div#recaptcha
      script(src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer)
    button.btn.btn-primary#submit(type='submit') Send an email reset link.
