extends layout

block content
  script(src='/javascripts/confirm-password-validator.js')
  h1 The Notes App - password setup
  p Password must contain at least 6 symbols, including one letter and one digit.
  p(style={color: 'red'})
    | <strong>IMPORTANT: PLEASE DO NOT REUSE A PASSWORD WHICH YOU ARE USING SOMEWHERE ELSE.<br>
    | I HAVE DONE MY BEST TO ENSURE SAFETY OF YOUR DATA, BUT I DO NOT HAVE THE EXPERIENCE NEEDED TO GUARANTEE IT.</strong>
  form(method='POST' action='/auth/passwordsetup/')
    input#password(
    type='password', placeholder='Password' name='password' required onkeyup="check_pass()"
    )
    input#confirm_password(
    type='password', placeholder='Confirm password' name='confirm_password' required onkeyup="check_pass()"
    )
    input#token(type="hidden" name="token" value=token)
    button.btn.btn-primary#submit(type='submit' disabled) Submit
