extends layout

block content
  script(src="/javascripts/recaptcha-loader.js")
  h1 The Notes App - password reset form
  if event === "captchafailed"
    p(class="message") Captcha failed. Please try again.
  form(method='POST' action='/auth/passwordreset')
    input#email(
    type='email', placeholder='E-mail address' name='email' required
    )
    div#recaptcha
    script(src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer)
    button#submit(type='submit' class="btn btn-primary") Send a reset link
