extends layout

block content
  form(method='POST' action='/auth/signup')
    div.form-group
      input#name.form-control(type='text', placeholder='Username' name='username' required)
    div.form-group
      input#email.form-control(type='email', placeholder='E-mail address' name='email' required)
    button.btn.btn-primary(type='submit') Sign up