body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color: aqua

header
  margin-bottom: 15px

.button
  color: #00B7FF
  padding: 10px
  margin-right: 5px
  background-color: aliceblue

#social-buttons
  margin-top: 15px
  margin-bottom: 15px